.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  input {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  select {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
  }

  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e06656;
    }
  }
}
